*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.tmp
*.bk
*.bkup
.kitchen.local.yml
.rspec

.bundle/
.cache/
.delivery/cli.toml
.kitchen/
.vagrant/
.vagrant.d/
bin/
tmp/
vendor/

.delivery/helpers/
.delivery/live.json
.delivery/sandbox.json
Berksfile.lock
